body {
	font-family: 'Open Sans','Trebuchet MS',sans-serif;
}
:root {
	--font-family-sans-serif: 'Open Sans','Trebuchet MS',sans-serif;
}

// suppress "TVS" header on home page only
body#page-site-index {
	header#page-header {
		display: none;
	}
}

body#page-site-index.editing {
	header#page-header {
		display: block !important;
	}
}

/* hamburger */
div[data-region="drawer-toggle"] > button.btn {
	background-color: #008357 !important;
	color: #fff !important;

}

.card {
	border-radius: 2px;

}
.card-body {
	background-color: RGBA(225, 241, 151, 0.5);
}

h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
}

a {
	font-weight: 600;
}

nav.navbar {

	background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);

	.navbar-brand {
		min-width: 100px;
	}
	span.site-name {
		background-image: url(https://intranet.testvalley.hants.sch.uk/moodle/moodle_toplogo.svg);
		min-width: 100px;
		display: inline-block !important;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		text-indent: -9999px;
	}
	.nav-link {
		@media only screen and (min-width: 1176px) {
			font-size: 120%;
			padding: 0 1em !important;
		}
	}
}

.btn {
	border-radius: 6px;
}

/** TODO -- SCSS this */
#tvs-switchboard {
  font-size:120%;
  padding: 8px;
  margin: 16px auto 16px auto;
  text-shadow:#cfcfcf 2px 2px 3px;
  font-family: 'Open Sans','Trebuchet MS',Arial,sans-serif;
  list-style: none;
  max-width: 1000px;
  text-align: center;
  display: grid;
}

#tvs-switchboard li {
  width: 180px;
  padding: 10px;
  &:nth-child(1) {
	  grid-row: 1;
	  grid-column: 1;
  }
  &:nth-child(2) {
	  grid-row:1;
	  grid-column:2;
  }
  &:nth-child(3) {
	  grid-row: 1;
	  grid-column: 3;
  }
  &:nth-child(4) {
	  grid-row: 2;
	  grid-column: 1;
  }
  &:nth-child(5) {
	  grid-row: 2;
	  grid-column: 2;
  }
  &:nth-child(6) {
	  grid-row: 2;
	  grid-column: 3;
  }
  &:nth-child(7) {
	  grid-row: 3;
	  grid-column: 1;
  }
  &:nth-child(8) {
	  grid-row: 3;
	  grid-column: 2;
  }
  &:nth-child(9) {
	  grid-row: 3;
	  grid-column: 3;
  }
}

#tvs-switchboard span.fa-2x {
  font-size: 3em;
  font-weight: normal !important;
}


#tvs-switchboard h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Open Sans Semibold','Open Sans','Trebuchet MS',Arial,sans-serif;
  text-shadow: none;
}


#tvs-switchboard a {
  color: rgb(0,131,87);
  text-decoration: none;
}
#tvs-switchboard a:hover {
  color: rgb(81,172,36);
  text-decoration: none;
}
#tvs-switchboard a:active {
  color: #E92941;
  text-decoration: none;
}


.tvs-icons {
  font-size:150%;
}

.tvs-icons a:hover {
 text-decoration: none;
}

.tvs-sw-small-only {
  display: none;
}
.main-moodle-logo-text {
	font-family: 'Open Sans','Trebuchet MS',Arial,sans-serif;
	font-size: 36pt;
	font-weight: 700;
	color: #008357;
	padding-left: 25px;
	text-shadow: 1px 1px 4px rgba(144,165,146,1);
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
@media (max-width: 999px) {
  #tvs-switchboard li {
    width: 100px;
    height: 111px;
  }
  #tvs-switchboard .tvs-sw-smaller {
    display: none;
  }
  #tvs-switchboard .tvs-sw-small-only {
    display: block;
  }
  #tvs-switchboard h3 {
    font-size: 0.9em;
  }

}

@media (max-width: 1270px) {
  .navbar .nav > li > a {
    font-size: 1.0em;
  }
  input[name=username], input[name=password] {
    max-width: 80px;
  }
}

@media (min-width: 1000px) and (max-width: 1187px) {
  #tvs-switchboard li {
    width: 110px;
    height: 111px;
  }
  #tvs-switchboard .tvs-sw-smaller {
    display: none;
  }
  #tvs-switchboard .tvs-sw-small-only {
    display: block;
  }
  #tvs-switchboard h3 {
    font-size: 0.9em;
  }
}

@media (min-width: 1188px) and (max-width: 1474px) {
  #tvs-switchboard li {
    width: 130px;
    height: 111px;
  }
  #tvs-switchboard h3 {
    font-size: 0.9em;
  }
  #tvs-switchboard .tvs-sw-smaller {
    display: none;
  }
  #tvs-switchboard .tvs-sw-small-only {
    display: block;
  }

}


@media (max-width: 405px) {

  #module-8885 > div > div {
    margin-left: -40px;
    margin-right: -40px;
  }

  #tvs-switchboard {
    width: 93%;
  }

  #tvs-switchboard li {
    font-size: 85%;
    width: 110px;
    padding: 0;
    height: 76px;
  }

  #tvs-switchboard .tvs-sw-smaller {
    display: none;
  }

  #tvs-switchboard h3 {
    font-size: 84%;
    line-height: 1;
  }

  .tvs-sw-small-only {
    display: block;
  }

  .sitetopic {
    margin-top: -20px;
    width: 100%;
  }
  .main-moodle-logo {
    display:none;
  }
  ul.breadcrumb {
    margin-top: 20px;
  }

  .contentwithoutlink > div:nth-child(1) > div:nth-child(1), .contentwithoutlink > div:nth-child(1) {
    overflow: visible;
  }

}

.block_rss_client .content li {
  border:0;
  padding:1px;
}


.fa-2x {
  font-family:'FontAwesome';
}


.path-calendar .maincalendar li.calendar_event_course.mod_resourceduedate_setdate_event {
	background-color: #ead0fb !important;
/*	background-image: linear-gradient( to bottom, #6d00b5, #9900d1 );*/
}
/*.path-calendar .maincalendar li.calendar_event_course.mod_resourceduedate_setdate_event a {
	color: #fff;
}
.path-calendar .maincalendar li.calendar_event_course.mod_resourceduedate_setdate_event a:hover {
	color: #ccc;
}*/

.path-calendar .maincalendar .eventlist .event.mod_resourceduedate_setdate_event {
	background-color: #6d00b5 !important;
	background-image: linear-gradient( to bottom, #6d00b5, #9900d1 ) !important;
}

.path-calendar .maincalendar .eventlist .event.mod_resourceduedate_duedate_event {
	background-color: #e8a117;
	background-image: linear-gradient( to bottom, #e8a117, #f9bc45 );
}

/* Coloured blocks */
.block {
	background-color: #d8eda6;
}

.block_calendar_upcoming, .block_calendar_month {
	background-color: #c4e8ff;
}


.block_calendar_upcoming .event.mod_resourceduedate_setdate_event {
	background-color: #6d00b5 !important;
	background-image: linear-gradient( to bottom, #6d00b5, #9900d1 ) !important;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #eee;
	color: #eee;
}
.block_calendar_upcoming .event.mod_resourceduedate_setdate_event a, .path-calendar .maincalendar .eventlist .event.mod_resourceduedate_setdate_event a {
	color: #fff;
}
.block_calendar_upcoming .event.mod_resourceduedate_setdate_event a:hover,  .path-calendar .maincalendar .eventlist .event.mod_resourceduedate_setdate_event a:hover {
	color: #ccc;
}

.block_calendar_upcoming .event.mod_resourceduedate_duedate_event {
	background-color: #f9bc45;
	background-image: linear-gradient( to bottom, #f9bc45, #E8A117 );
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #eee;
	color: #eee;
}
.block_calendar_upcoming .event.mod_resourceduedate_duedate_event a,  .path-calendar .maincalendar .eventlist .event.mod_resourceduedate_duedate_event a  {
	color: #fff;
}
.block_calendar_upcoming .event.mod_resourceduedate_duedate_event a:hover,  .path-calendar .maincalendar .eventlist .event.mod_resourceduedate_duedate_event a:hover  {
	color: #ccc;
}


.path-calendar .maincalendar li.calendar_event_course.mod_resourceduedate_setdate_event {
	background-color: #ead0fb !important;
/*	background-image: linear-gradient( to bottom, #6d00b5, #9900d1 );*/
}
/*.path-calendar .maincalendar li.calendar_event_course.mod_resourceduedate_setdate_event a {
	color: #fff;
}
.path-calendar .maincalendar li.calendar_event_course.mod_resourceduedate_setdate_event a:hover {
	color: #ccc;
}*/

.path-calendar .maincalendar .eventlist .event.mod_resourceduedate_setdate_event {
	background-color: #6d00b5 !important;
	background-image: linear-gradient( to bottom, #6d00b5, #9900d1 ) !important;
}

.path-calendar .maincalendar .eventlist .event.mod_resourceduedate_duedate_event {
	background-color: #e8a117;
	background-image: linear-gradient( to bottom, #e8a117, #f9bc45 );
}



.block_calendar_upcoming .event.mod_resourceduedate_setdate_event {
	background-color: #6d00b5 !important;
	background-image: linear-gradient( to bottom, #6d00b5, #9900d1 ) !important;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #eee;
	color: #eee;
}
.block_calendar_upcoming .event.mod_resourceduedate_setdate_event a, .path-calendar .maincalendar .eventlist .event.mod_resourceduedate_setdate_event a {
	color: #fff;
}
.block_calendar_upcoming .event.mod_resourceduedate_setdate_event a:hover,  .path-calendar .maincalendar .eventlist .event.mod_resourceduedate_setdate_event a:hover {
	color: #ccc;
}

.block_calendar_upcoming .event.mod_resourceduedate_duedate_event {
	background-color: #f9bc45;
	background-image: linear-gradient( to bottom, #f9bc45, #E8A117 );
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #eee;
	color: #eee;
}
.block_calendar_upcoming .event.mod_resourceduedate_duedate_event a,  .path-calendar .maincalendar .eventlist .event.mod_resourceduedate_duedate_event a  {
	color: #fff;
}
.block_calendar_upcoming .event.mod_resourceduedate_duedate_event a:hover,  .path-calendar .maincalendar .eventlist .event.mod_resourceduedate_duedate_event a:hover  {
	color: #ccc;
}

#main-hlt-page h2 {
	font-family: 'Open Sans Semibold','Open Sans','Trebuchet MS',sans-serif;
	font-weight: 600;
	color: #008357;
}
#main-hlt-page aside {
	background-color: #c7fdda;
	padding: 12px;
}
#main-hlt-page aside p {
	padding: 0;
	font-family: 'Open Sans Semibold','Open Sans','Trebuchet MS',sans-serif;
	margin: 0;
}
#main-hlt-page h3 {
	font-family: 'Open Sans Semibold','Open Sans','Trebuchet MS',sans-serif;
}
#main-hlt-page > form {
	text-align: center;
	padding: 15px;
}
#main-hlt-page input {
	text-align: center;
	font-size: 16pt;	
	padding: 20px 30px;
}
#main-hlt-page p {
	padding-bottom: 10px;
	font-family: 'Open Sans Semibold','Open Sans','Trebuchet MS',sans-serif;
}
#main-hlt-page p.small {
	margin-top: 10px;
	font-size: 89%;
}
#main-hlt-page .hlt-image {
	float: right;
}
#main-hlt-page .hlt-purple {
	color: #913fc7;
}
#main-hlt-page .hlt-gold {
	color: #d9930c;
}
#main-hlt-page a {
	font-weight: bold;
}

#main-hlt-page h1 {
	margin-bottom: 30px;
}

#main-hlt-page .hlt-instructions ol > li {
	font-size: 150%;
	font-family: 'Open Sans','Trebuchet MS',sans-serif;
	margin-bottom: 45px;
}

#main-hlt-page .hlt-instructions > ol > li > p {
	line-height: 160%;
}

.tvs-extracurricular-event-inline-description {
        display: none;
        border: 1px solid #eee;
        padding: 15px;
        background-color: #eee;
        background-image: linear-gradient(to bottom, #eee, #fff);
        margin: 10px 2px;
}
.tvs-extracurricular-event-inline-description .mod_extracurricular_metadata {
        display: none;
}
.tvs-extracurricular-event-inline-description .mod_extracurricular_file_link_container {
        text-align:center;
        font-size: 125%;
        margin: 25px 0 0 0;
}
.block_extracurricular .header .title h2::before {
  content: " ï";
}

#page-report-assignaudit-index table.flexible .c0,#page-report-assignaudit-index table.flexible .c1 {
	width: 120px;
}

/* HLT calendar responsive */
@media only screen and (max-width: 800px) {
	.path-calendar .maincalendar .calendartable td {
		display: block;
		width: 100%;
		min-height: 180px;
	}
	.path-calendar .calendartable th {
		display: none;
	}
	.path-calendar .maincalendar .calendartable li {
		width: 94%;
		display: block;
	}
	.path-calendar div.hidden-sm-down.hidden-phone {
		display: inline-block !important;
	}
}
/* end HLT calendar responsive */

/* remove ellipsis truncating of events in Moodle 3.4 */
.path-calendar .maincalendar .calendarmonth ul li>a {
	overflow: visible;
	text-overflow: unset;
	max-width: unset;
	white-space: normal;
}


/* course category description areas (careers options) */
#page-course-index-category .generalbox.info {
	font-family:'Open Sans','Trebuchet MS',sans-serif;
	/*background-color: #69b7e9;*/
	background-color: #a8d0ea;
	background: linear-gradient(to right, #a8d0ea 0%,#a8d0ea 90%,#ffffff 100%,#7db9e8 100%);
	/*color: white;*/
	border: 1px solid #333;
	-webkit-overflow-scrolling: touch;
}
#page-course-index-category .generalbox.info a {
}
#page-course-index-category .generalbox.info a:hover {
}
#page-course-index-category .generalbox.info ul {
	display: table;
	table-layout: fixed;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
#page-course-index-category .generalbox.info ul li {
	display: table-cell;
	overflow: hidden;
	padding: 9px;
	min-width: 210px;
	-webkit-overflow-scrolling: touch;
}

.nav-tabs {
	.nav-link.active {
		background: linear-gradient(#dee2e6,#fafafa);
	}
}

/* Turn editing on */
.context-header-settings-menu {

	

	background: linear-gradient(#25432f, #4ba26c);
	border-radius: 10px;
	border: 1px solid #000;

	padding:10px 10px 0 10px;
	min-width: auto;
	min-height: 60px;
	max-width: 100%;

	a.dropdown-toggle {
		color: #fff;
		&:hover {
			color: #cdcdcd;
		}
	}

	> .action-menu {
		a > i.icon.fa-cog[aria-label="Actions menu"]::after {
			font-family: "Open Sans";
			content: "Editing";
			margin: 10px;
		}
	}

}


/* bell is offset */
nav .nav-item .nav-link .fa-bell {
	margin-top: 11px;
}

/* PPV */
.path-admin-report-parentprogressview {
	@media only screen and (max-width: 463px) {
		aside.show-documents-published-form {
			font-size: 75%;
			padding: 5px 5px;
		}
	}
	@media only screen and (min-width: 723px)  {
		aside.show-documents-published-form {
			min-width: 600px;
		}
	}
	h2 {
		display: none;
	}
	h3 {
		padding: 15px 0;
		margin-bottom: 20px;
	}
}

/* calendar clickable days */
.day a[data-action="view-day-link"] {
	background-color: #a9f59c;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 130%;
	@media only screen and (max-width: 766px) {
		padding: 15px 25px;
		font-size: 150%;
		font-weight: bold;
		animation-name: cal-link-pulse;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
	&:hover {
		 
	}
}

@keyframes cal-link-pulse {
	0% { background-color: #a9f59c; }
	50% { background-color: #8be77c; }
	100% { background-color: #a9f59c; }
}
